[Desktop Entry]
Name=THAIPE App Manager
Comment=Thai's HTML Application Idia Programming Environment's Application Manager
Exec=thaipe %u
Icon=/usr/share/pixmaps/thaipe.xpm
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
MimeType=text/htma;
Encoding=UTF-8
